.product-container {
    display: flex;
    margin-top: 50px;
    margin-left: 40px;
    gap: 100px;
}

.product-details {
    margin-right: 40px;
    width: 700px;
}

.product-details button {
    background-color: rgb(48, 217, 247);
    height: 40px;
    width: 110px;
    border: none;
    border-radius: 20px;
}

.product-details button:hover {
    background-color: rgb(44, 44, 247);
    color: white;
    cursor: pointer;
}

.product-ing img {
    height: 350px;
    width: 350px;
    border-radius: 50%;
}

.customers-review {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.cr {
    text-align: center;
    margin: 50px;
}

.all-reviews {


    width: 160px;
    height: 40px;
    background-color: rgb(48, 217, 247);
    border: none;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.review-text {
    text-decoration: none;
    padding: 25px;
    color: rgb(0, 0, 0);
}