.header {
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
    top: 0%;

}

.link-text {
    text-decoration: none;
    color: aliceblue;
    font-size: 17px;
    margin-left: 36px;

}